<head>
    <title>SALT: Semantic Alignment and Linking Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div>
    Which data sets would you like to compare?
    <form action="/salt" method="GET">
        Left side:
        <select id="leftDataSelector" name="saltsetA">
            <option value="ash_places" selected="selected">Ashmolean places</option>
            <option value="bod_places">Bodleian places</option>
            <option value="mhs_places">MHS places</option>
            <option value="mnh_places">MNH places</option>
            <option><hr /></option>
            <option value="ash_people">Ashmolean people</option>
            <option value="bod_people">Bodleian people</option>
            <option value="mhs_people">MHS people</option>
            <option value="mnh_people">MNH people</option>
        </select>
        Right side:
        <select id="rightDataSelector" name="saltsetB">
            <option value="chgis_places">CHGIS places</option>
            <option value="cbdb_people">CBDB people</option>
        </select>
        <input type="submit" value="Compare">
    </form>
</div>
